# Coverage files
frontend_api/.coverage
admin_api/.coverage
**/htmlcov/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# IDE files
.idea/
.vscode/

# Environment variables
.env
.env.*

# Logs
*.log

# Test cache
.pytest_cache/

# Docker
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.* 

*admin_api/.env
*frontend_api/.env
